body{
    background-color: #e7e7e7;
}
.cabecera{
    background-color: #4e6d92;
    height: 192px;
}
.cabecera .nombre_sitio{
    color: white;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    

}
.cabecera .escudo{
    width: 7%;
}
.cabecera .menu{
    float: right;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera .menu ol{
    list-style: none;
}
.cabecera .menu ol li{
    display: inline-block;
}
.cabecera .menu ol li a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera .menu ol li a:hover{
    color: white;
    font-size: 1.3em;
    text-decoration: underline;
}
.seccion_izquierda{
    background-color: rgb(50, 81, 130);
    float: left;
    width: 48%;
    padding: 10px;
}
.seccion_derecha{
    background-color: rgb(50, 81, 130);
    float: right;
    width: 48%;
    padding: 10px;
}
footer{
    clear: both;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
.historia{
    background-color: rgb(50, 81, 130);
    font-family: Arial, Helvetica, sans-serif;
}
.historia .h_quito{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
