body{
    background-color: #c8bfbd;
}
.cabecera{
    background-color: #4e6d92;
    height: 200px;
}
.cabecera .nombre_sitio{
    color: red;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;

}
.cabecera .escudo{
    width: 5%;
}
.cabecera .menu{
    float: right;
}
.cabecera .menu ol{
    list-style: none;
}
.cabecera .menu ol li{
    display: inline-block;
}
.cabecera .menu ol li a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding-left: 10px;
}
.cabecera .menu ol li a:hover{
    color: white;
    font-size: 1.3em;
    text-decoration: underline;
}
.seccion_izquierda{
    background-color: aqua;
    float: left;
    width: 68%;
    padding: 10px;
}
.seccion_derecha{
    background-color: aquamarine;
    float: right;
    width: 28%;
    padding: 10px;
}
footer{
    clear: both;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}