body{
    background-color: #e7e7e7;
}
.cabecera{
    background-color: #4e6d92;
    height: 210px;
}
.cabecera .nombre_sitio{
    color: white;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    

}
.cabecera .escudo{
    width: 130px;
    
}
.cabecera .menu{
    float: right;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera .menu ol{
    list-style: none;
}
.cabecera .menu ol li{
    display: inline-block;
    float: left;
}
.cabecera .menu ol li a{
    color: white;
    font-size: 1.2em;
    text-align: left;
    text-decoration:dashed;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.cabecera .menu ol li a:hover{
    color: white;
    font-size: 1.3em;
    text-decoration: underline;
}
.seccion_izquierda{
    background-color: rgb(77, 93, 118);
    float: left;
    width: 48%;
    padding: 10px;
}
.seccion_derecha{
    background-color: rgb(77, 93, 118);
    float: right;
    width: 48%;
    padding: 10px;
}
footer{
    clear: both;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
.historia{
    background-color: rgb(77, 93, 118);
    font-family: Arial, Helvetica, sans-serif;
}
.historia .h_quito{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.intro{
    background-color: #4e6d92;
    border-radius: 3%;
}
.intro .t_in{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.intro .p_in{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
}
.intro_im{
    display: flex;
    justify-content: center;
    
}